
<div class="row">
    <div class="col-md-4 mb-3" *ngFor=" let data of getposts">
        <div class="card h-100">
            <div class="card-header">
                <h5>{{data.title}}</h5>
            </div>
            <div class="card-body">
                <p>{{data.body}}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-block btn-info">Read More</button>
                
            </div>
        </div>
    </div>
</div>